/* REMOVING RIGHT COLUMN */
#secondary{
    visibility: hidden;
}


/* REMOVING RECOMMENDED VIEOS (SHRINKED WINDOW)*/
#related{
    display:none;
}



/* REMOVING END SUGGESTIONS */

.html5-endscreen{
    display:none;
}

/* REMOVING DISTRACTING CONTENTS (comments, homepage, trending...) */
#contents{
    display:none !important;
}

ytd-mini-guide-renderer{
    display:none !important;
}

#guide-icon{
    display:none !important;
    pointer-events: none;
    cursor:unset !important;
}

#guide-icon:hover{
    cursor:unset !important;
}

#guide-wrapper{
    display:none !important;
}
