/* RIGHT COLUMN */
#secondary{
    display:none;
}

/* RECOMMENDED VIDEOS */
#related{
    display:none;
}

/* RESIZE VIDEO (removing recommended videos makes it not responsive) */
.html5-main-video {
    width:100% !important;
    height:auto !important;
}

/* RESIZING BOTTOM COMMANDS*/
.ytp-chrome-bottom{
    width:100% !important;
    left:0px !important;
}
.ytp-chapter-hover-container{
    width:100% !important;
}

/* REMOVING DISTRACTING CONTENTS (comments, homepage, trending...) */
#contents{
    display:none !important;
}
